//document.querySelector("#itemDetail > div > div > div > div.size__list.d-flex")
#itemDetail {
    .container {
        .detail__content{
            .item__description {
                .quantity {
                    p {
                        display: inline-block;
                        color: $color-primary;
                        margin: auto 0;
                    }
                }
                #addToCart{
                    background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
                }
            }
            .btn-check:checked+.btn {
                border-color: black !important;
            }
        }
    }
}