/* Khai báo các biến dùng chung (color, font, ... )*/
// biến về màu
$color-primary : #78AE1A;
$color-text : #838383 ;
$color-title  : black;
$color-yellow: yellow;
$color-bg-grey: #F8F8F8;
// biến về độ dài chữ
$fw-title: bold;
$fw-sub-title: 600;
$fw-content: 400;

// biến về kích thước chữ 
$fs-title: 60px;
$fs-sub-title: 20px;
$fs-section-title: 35px;
$fs-content: 16px;

//bien mac dinh
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: $color-title;
    &:hover {
        color: $color-primary;
    }
}

:root {
    
    --gradient: linear-gradient(299deg, rgba(34,83,195,1) 32%, rgba(51,173,124,1) 48%)!important;
}