/* Khai báo các biến dùng chung (color, font, ... )*/
// biến về màu
$color-blue-1 : #2A73DC;
$color-blue-2 : #1D355E;
$color-bg : #F6F9FE;
$color-yellow: yellow;

// biến về độ dài chữ
$fw-title: bold;
$fw-sub-title: 600;
$fw-content: 400;

// biến về kích thước chữ 
$fs-title: 60px;
$fs-sub-title: 20px;
$fs-section-title: 35px;
$fs-content: 16px;